@model IEnumerable<ProductListVM>

@foreach (ProductListVM productListVM in Model)
{
    <li style="list-style:none;margin-bottom:5px">
        <img width="20%" src="~/assets/images/index/shop/@productListVM.Image" alt="Alternate Text" />
        <a asp-controller="shop" asp-action="detail" asp-route-id="@productListVM.Id">@productListVM.Title</a>
    </li>
}