@model LoginVM

@{
    ViewData["Title"] = "Login";

}

<div class="title-bar"
     style="background-image: url(/assets/images/index/shop/breadcrumb_bkg2.jpg);background-size: cover;background-position: center;padding: 45px 0px;">
    <div class="container">
        <div class="row">
            <div class="title-bar-text" style="text-align: center;">
                <div class="title-bar-header" style="margin-bottom: 20px;">
                    <h1 style="color:#3a3d46;font-family: rufina;font-size: 52px;">Login</h1>
                </div>
                <div class="title-bar-breadcrumb">
                    <span style="color: #777777;font-size: 15px;">Home</span>
                    <i style="color: #777777;font-size: 8px;padding: 0 10px;" class="fa-solid fa-chevron-right"></i>
                    <span style="color: #3a3d46;font-size: 15px;">Login</span>
                </div>
            </div>
        </div>
    </div>
</div>

<main>
    <div class="create-account">
        <h1>Login</h1>
        <div class="text text-danger" asp-validation-summary="ModelOnly"></div>
        <form method="post">
            <div class="inputs">
                <span style="margin-right:auto;margin-top:-10px;" class="text text-danger" asp-validation-for="Email"></span>
                <input asp-for="Email" placeholder="Email">
                <span style="margin-right:auto;margin-top:-10px;" class="text text-danger" asp-validation-for="Password"></span>
                <input asp-for="Password" placeholder="Password">
                <div style="display:flex">
                    <input asp-for="RemindMe">
                    <label for="RemindMe"></label>
                    <p style="padding-bottom:6px;margin-left:5px">Remember Me :)</p>

                </div>
                <button>Sign In</button>
                <a asp-action="ResetPassword" asp-controller="account" >Forgot your password?</a>
                <a asp-action="register" asp-controller="account">Create Account</a>
            </div>
        </form>
    </div>
</main>

@section script{
    <partial name="_ValidationPartial">
}
