
@model ProfileVM
@inject ILayoutServices layoutservices

@{
    ViewData["Title"] = "Profile";
    AppUser appUser = await layoutservices.GetUserAsync();
}


<div class="title-bar"
     style="background-image: url(/assets/images/index/shop/breadcrumb_bkg2.jpg);background-size: cover;background-position: center;padding: 45px 0px;">
    <div class="container">
        <div class="row">
            <div class="title-bar-text" style="text-align: center;">
                <div class="title-bar-header" style="margin-bottom: 20px;">
                    <h1 style="color:#3a3d46;font-family: rufina;font-size: 52px;">My Account</h1>
                </div>
                <div class="title-bar-breadcrumb">
                    <span style="color: #777777;font-size: 15px;">Home</span>
                    <i style="color: #777777;font-size: 8px;padding: 0 10px;" class="fa-solid fa-chevron-right"></i>
                    <span style="color: #3a3d46;font-size: 15px;">My Account</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-area">
    <div class="container">
        <div class="dashboard-warp">
            <div class="author">
                <div class="media">

                    <div class="media-body">
                        <h5 class="title mb-0">Hello @appUser.Name</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <aside class="dashboard-aside">
                        <nav class="dashboard-nav">
                            <div class="nav nav-tabs">
                                <a class="nav-item nav-link active" data-bs-toggle="tab" href="#nav-dashboard"
                                   aria-selected="true"><i class="fas fa-th-large"></i>Dashboard</a>

                          
                                <a class="nav-item nav-link" data-bs-toggle="tab" href="#nav-account"
                                   aria-selected="false"><i class="fas fa-user"></i>Account Details</a>
                                <a class="nav-item nav-link" asp-action="logout" asp-controller="account">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>Logout
                                </a>
                            </div>
                        </nav>
                    </aside>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="nav-dashboard">
                            <div class="dashboard-overview">
                                <div class="welcome-text">
                                    Hello @appUser.Name (not <span>@appUser.Name?</span> <a asp-action="logout" asp-controller="account">Log Out</a>)
                                </div>
                                <p>
                                    From your account dashboard you can view your recent orders, manage your shipping
                                    and billing addresses, and edit your password and account details.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-account">
                            <div class="col-lg-9">
                                <div class="dashboard-account">
                                    <form method="post" asp-action="profile" asp-controller="account">
                                        <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Name"></label>
                                            <input asp-for="Name" class="form-control" placeholder="Name">
                                            <span asp-validation-for="Name" class="text text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Surname"></label>
                                            <input asp-for="Surname" class="form-control" placeholder="Name">
                                            <span asp-validation-for="Surname" class="text text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Age"></label>
                                            <input asp-for="Age" class="form-control" placeholder="Age">
                                            <span asp-validation-for="Age" class="text text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="UserName"></label>
                                            <input asp-for="UserName" class="form-control" placeholder="UserName">
                                            <span asp-validation-for="UserName" class="text text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Email"></label>
                                            <input asp-for="Email" class="form-control" placeholder="Email">
                                            <span asp-validation-for="Email" class="text text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CurrentPassword"></label>
                                            <input asp-for="CurrentPassword" class="form-control" placeholder="CurrentPassword">
                                            <span asp-validation-for="CurrentPassword" class="text text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="NewPassword"></label>
                                            <input asp-for="NewPassword" class="form-control" placeholder="NewPassword">
                                            <span asp-validation-for="NewPassword" class="text text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword"></label>
                                            <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword">
                                            <span asp-validation-for="ConfirmPassword" class="text text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{
    <partial name="_ValidationPartial">
}
