@model IEnumerable<TermandCondition>
@{
    ViewData["Title"] = "Index";
}

<div class="title-bar"
     style="background-image: url(/assets/images/index/shop/breadcrumb_bkg2.jpg);background-size: cover;background-position: center;padding: 45px 0px;">
    <div class="container">
        <div class="row">
            <div class="title-bar-text" style="text-align: center;">
                <div class="title-bar-header" style="margin-bottom: 20px;">
                    <h1 style="color:#3a3d46;font-family: rufina;font-size: 52px;">Term & Conditions</h1>
                </div>
                <div class="title-bar-breadcrumb">
                    <span style="color: #777777;font-size: 15px;">Home</span>
                    <i style="color: #777777;font-size: 8px;padding: 0 10px;" class="fa-solid fa-chevron-right"></i>
                    <span style="color: #3a3d46;font-size: 15px;">Term & Conditions</span>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="termandcondition">
    <div class="row">
        @foreach (TermandCondition termandCondition in Model)
        {

            <div class="terms">
                <h2>@termandCondition.Title</h2>
                <p>
                    @termandCondition.Description
                </p>
            </div>
        }

    </div>
</main>
@await Component.InvokeAsync("NeedSupport");