@model Featured

@{
    ViewData["Title"] = "Update";
}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg  " style="padding-top:40px">
    <h4>Update Featured</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</main>

@section script{
    @await Html.PartialAsync("_ValidationPartial")
}