@model ProfileVM
@using Microsoft.AspNetCore.Identity

@inject UserManager<AppUser> _userManager
@{
    ViewData["Title"] = "Profile";
    AppUser appUser = null;
    if (User.Identity.IsAuthenticated)
    {
        appUser = await _userManager.FindByNameAsync(User.Identity.Name);

    }
}

<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">

    <div class="container-fluid">
        <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('/manage/img/curved-images/curved0.jpg'); background-position-y: 50%;">
            <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
            <div class="row gx-4">
                <div class="col-auto">
                    <div class="avatar avatar-xl position-relative">
                        <img src="/manage/img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                    </div>
                </div>
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h5 class="mb-1">
                            @appUser.Name @appUser.Surname 
                        </h5>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid py-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" placeholder="Name">
                <span asp-validation-for="Surname" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age"></label>
                <input asp-for="Age" class="form-control" placeholder="Age">
                <span asp-validation-for="Age" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" placeholder="UserName">
                <span asp-validation-for="UserName" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPassword"></label>
                <input asp-for="CurrentPassword" class="form-control" placeholder="CurrentPassword">
                <span asp-validation-for="CurrentPassword" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" placeholder="NewPassword">
                <span asp-validation-for="NewPassword" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword" class="text text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
</div>
