@model Slider

@{
    ViewData["Title"] = "Create";
}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg  " style="padding-top:40px">

    <h4>Create Slider</h4>
    <hr />
        <div class="col-md-4">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MainTitle" class="control-label"></label>
                    <input asp-for="MainTitle" class="form-control" />
                    <span asp-validation-for="MainTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubTitle" class="control-label"></label>
                    <input asp-for="SubTitle" class="form-control" />
                    <span asp-validation-for="SubTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="File" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</main>

