@model Blog

@{
    ViewData["Title"] = "Create";
    IEnumerable<BCategory> bcategories = ViewBag.BCategories;
    SelectList selectBCategoriesListItems = new SelectList(bcategories, nameof(BCategory.Id), nameof(BCategory.Name));
}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg  " style="padding-top:40px">
    <h4>Create Blog</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description1" class="control-label"></label>
                <input asp-for="Description1" class="form-control" />
                <span asp-validation-for="Description1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description2" class="control-label"></label>
                <input asp-for="Description2" class="form-control" />
                <span asp-validation-for="Description2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>BCategory</label>
                <select asp-for="BCategoryIds" class="form-control" asp-items=" selectBCategoriesListItems">
                </select>
                    <span asp-validation-for="BCategoryIds" class="text text-danger"></span>
            </div>
       
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</main>

@section script{
    @await Html.PartialAsync("_ValidationPartial")
}